# https://docs.github.com/en/free-pro-team@latest/actions/reference/context-and-expression-syntax-for-github-actions
name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      # Setup
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      # Cache
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      # Install
      - run: yarn install
      # Build
      - run: yarn build
      # Validate
      - run: yarn validate
      # Deploy Preview
      - run: yarn deploy:preview --auth $(NETLIFY_AUTH_TOKEN)
        if: github.repository == 'fariapp/fari' && github.ref != 'refs/heads/master'
